name: on_pull_request
on:
  pull_request:
    branches: [main]
jobs:
  reviewdog:
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Tools
        run: |
          mkdir -p $HOME/bin
          curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s -- -b $HOME/bin
          echo $HOME/bin >> $GITHUB_PATH
          curl -sSL https://install.python-poetry.org | python
          echo $HOME/.poetry/bin >> $GITHUB_PATH
      - uses: actions/checkout@v4.0.0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install Python Requirements
        run: |
          poetry install
      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          poetry run pylint -j 0 --ignore=vendor recline | reviewdog -reporter=github-pr-check -diff="git diff main" -efm="%f:%l:%c: %m"
